{% extends "FullSixProjectForecastBundle::layout.html.twig" %}

{% block title %}
    <title>Projects Forecast{% if title is defined %} : {{ title }}{% endif %} </title>
{% endblock %}

{% block content %}
    {% if title is defined %}
        {% block formTitle %}
            <h1>{{ title }}</h1>
        {% endblock %}
    {% endif %}

    {{ grid_search(grid, _self) }}

    {% if entity_new is defined and app.user is not null and is_granted('ROLE_ADMIN') %}
        <a href="{{ path( entity_new ) }}" class="btn btn-primary">{{ 'common.action.create' |trans }}</a>
    {% endif %}

    {{ grid(grid, _self) }}

    {% if entity_new is defined and app.user is not null and is_granted('ROLE_ADMIN') %}
        <a href="{{ path( entity_new ) }}" class="btn btn-primary">{{ 'common.action.create' |trans }}</a>
    {% endif %}

    {% block popup %}
        <div style="display:none">
            {{ include("FullSixProjectForecastBundle::_errors.html.twig") }}
        </div>
    {% endblock %}
{% endblock %}

{% block grid_filters %}{% endblock %}

{% block grid %}

{% for flashMessage in app.session.flashbag.get('errors') %}
    <div class="flash-error">
        {{ flashMessage }}
    </div>
{% endfor %}

<div class="grid">
{% if grid.totalCount > 0 or grid.isFiltered or grid.noDataMessage is sameas(false) %}
    <form id="{{ grid.hash }}" action="{{ grid.routeUrl }}" method="post">
        <div class="grid_header">
        {% if grid.massActions|length > 0 %}
            {{ grid_actions(grid) }}
        {% endif %}
        </div>
        <div class="grid_body">
        <table class="table table-striped  table-hover records_list">
        {% if grid.isTitleSectionVisible %}
            {{ grid_titles(grid) }}
        {% endif %}

        {% if grid.isFilterSectionVisible %}
            {{ grid_filters(grid) }}
        {% endif %}

        {{ grid_rows(grid) }}
        </table>
        </div>
        <div class="grid_footer">
        {% if grid.isPagerSectionVisible %}
            {{ grid_pager(grid) }}
        {% endif %}
        {% if grid.exports|length > 0 %}
            {{ grid_exports(grid) }}
        {% endif %}
        </div>
        {% if withjs %}
            {{ grid_scripts(grid) }}
        {% endif %}
    </form>
{% else %}
    {{ grid_no_data(grid) }}
{% endif %}
</div>
{% endblock grid %}

{% block grid_rows %}
    {% for row in grid.rows %}
    {% set last_row = loop.last %}
    {% spaceless %}
        <tr{% if row.color != '' %} style="background-color:{{ row.color }};"{% endif %} class="grid-row-cells {{ cycle(['odd', 'even'], loop.index) }}">
        {% for column in grid.columns %}
            {% if column.visible(grid.isReadyForExport) %}
                <td class="grid-column-{{ column.id }}{% if column.align != 'left'%} align-{{ column.align }}{% endif %}{% if loop.last %} last-column{% endif %}{% if last_row %} last-row{% endif %}">{{ grid_cell(column, row, grid)|raw }}</td>
            {% endif %}
        {% endfor %}
    {% endspaceless %}
    </tr>
    {% else %}
        {{ grid_no_result(grid) }}
    {% endfor %}
{% endblock grid_rows %}

{% block grid_titles %}
    <tr>
    {% for column in grid.columns %}
        {% if column.visible(grid.isReadyForExport) %}
            <th>
            {% if column.type == 'massaction' %}
                <input type="checkbox" class="grid-mass-selector" onclick="{{ grid.hash }}_markVisible(this.checked);"/>
            {% else %}
                {% set columnTitle = grid.prefixTitle ~ column.title ~ '__abbr' %}
                {% if columnTitle|trans == columnTitle %}
                    {% set columnTitle = grid.prefixTitle ~ column.title %}
                {% endif %}
                {% if (column.sortable) %}
                    <a class="order" href="{{ grid_url('order', grid, column) }}" title="{{ 'Order by'|trans }} {{ columnTitle|trans }}">{{ columnTitle|trans }}</a>
                    {% if column.order == 'asc' %}
                        <i class="icon-chevron-up"></i>
                    {% elseif column.order == 'desc' %}
                        <i class="icon-chevron-down"></i>
                    {% endif %}
                {% else %}
                    {{ columnTitle|trans }}
                {% endif %}
            {% endif %}
            </th>
        {% endif %}
    {% endfor %}
    </tr>
{% endblock grid_titles %}

{% block grid_search %}
{% if grid.isFilterSectionVisible %}
    <div class="filter-collapse">
        <a data-target=".form-horizontal" data-toggle="collapse" class="btn btn-info ">
            {{ 'common.filters' |trans }}
        </a>
        <form id="{{ grid.hash }}_search" action="{{ grid.routeUrl }}" method="post" class="collapse form-horizontal accordion">
        {% for column in grid.columns %}
            {% if column.visible(true) and column.isFilterable %}
                {% set columnTitle = grid.prefixTitle ~ column.title %}
                {% if column.filterable %}
                    <div class="control-group">
                        <label class="control-label">{{ columnTitle|trans }}</label>
                        <div class="controls">
                            {{ grid_filter(column, grid, false)|raw }}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">  {{ 'common.action.search' |trans }}</button>
                <button type="button" class="btn" onclick="return {{ grid.hash }}_reset();">{{ 'common.action.reinit' |trans }}</button>
            </div>
        </form>
        </div>
{% endif %}
{% endblock grid_search %}

{% block grid_column_actions_cell %}
    {% set actions = column.getActionsToRender(row) %}
    {% for action in actions %}
        <a href="{{ url(action.route, column.routeParameters(row, action), false) }}" target="{{ action.target }}"{% if action.confirm %} onclick="return confirm('{{ action.confirmMessage }}')"{% endif %}{% for name, value in action.attributes %} {{ name }}="{{ value }}" {% endfor %}><i class="icon-{{ action.title|trans }}"></i></a>{{ column.separator|raw }}
    {% endfor %}
{% endblock grid_column_actions_cell %}

{% block grid_column_boolean_cell %}
    {% set value = value is sameas(false) ? 'false' : value %}
    {% if value != 'false' %}
        <i class="icon-ok"></i>
    {% else %}
        <i class="icon-remove"></i>
    {% endif %}
{% endblock grid_column_boolean_cell %}
