{% block logsDisplay %}
<div class="accordion" id="accordion">
{% for log in logs %}
        {% if loop.first == false %}
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}">
                    <i class="icon-chevron-down"></i>
                    <span class="badge">Version {{ log.version }}</span>, modifié le {{ log.loggedAt.date }} par {{ log.username }}
                </a>
            </div>
            <div id="collapse{{ loop.index }}" class="accordion-body collapse">
                <div class="accordion-inner">
                    <dl class="dl-horizontal">
                    {% block logsItem %}
                    {% endblock %}
                    </dl>
                </div>
            </div>
        </div>
        {% endif %}
{% endfor %}
    </div>
{% endblock %}