  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    {% block modalTitle %}
    <h3 id="myModalLabel">Modal header</h3>
    {% endblock %}
  </div>
  <div class="modal-body">
    {% block modalContent %}
    {% endblock %}
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
