{% extends 'knp_menu.html.twig' %}

{% block root %}
    {% set listAttributes = item.attributes %}
    {{ block('list') -}}
{% endblock %}

{% block item %}
{% import 'knp_menu.html.twig' as macros %}
    {% if item.displayed %}
    {# building the class of the item #}
        {%- set classes = item.attribute('class') is not empty ? [item.attribute('class')] : [] %}
        {%- if matcher.isCurrent(item) %}
            {%- set classes = classes|merge([options.currentClass]) %}
        {%- elseif matcher.isAncestor(item, options.depth) %}
            {%- set classes = classes|merge([options.ancestorClass]) %}
        {%- endif %}
        {%- set attributes = item.attributes %}
        {%- if classes is not empty %}
            {%- set attributes = attributes|merge({'class': classes|join(' ')}) %}
        {%- endif %}
    {# displaying the item #}
        <li{{ macros.attributes(attributes) }}>
            {{ block('linkElement') }}
            {# render the list of children#}
            {%- set childrenClasses = item.childrenAttribute('class') is not empty ? [item.childrenAttribute('class')] : [] %}
            {%- set childrenClasses = childrenClasses|merge(['dropdown-menu']) %}
            {%- set listAttributes = item.childrenAttributes|merge({'class': childrenClasses|join(' ') }) %}
            {{ block('list') }}
        </li>
    {% endif %}
{% endblock %}

{% block linkElement %}
{% import 'knp_menu.html.twig' as macros %}
            <a href="{{ item.uri }}" {{ macros.attributes(item.linkAttributes) }}>
                {% block label %} {{ item.label |trans }} {% endblock %}
                {% if item.hasChildren %}
                    <b class="caret"></b>
                {% endif %}
            </a>
{% endblock %}
