{% extends "FullSixProjectForecastBundle::form.html.twig" %}

{% block title%}
    <title>Projects Forecast : Edition du jour férié </title>
{% endblock %}

{% block formTitle %}
    <h1>Edition du jour férié '{{ entity.DaysoffsGlobalName }}'</h1>
{% endblock %}

{% block formParam %}
    action="{{ path('daysoffsglobal_update', { 'id': entity.id }) }}"
{% endblock %}

{% block backLink %}
    {{ path('daysoffsglobal') }}
{% endblock %}

{% block formAction %}
    {{ parent() }}
    <li>
        <form action="{{ path('daysoffsglobal_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
{% endblock %}

{% block deleteLink %}
    {{ path('daysoffsglobal_delete', { 'id': entity.id }) }}
{% endblock %}

{% block formMenu %}
    <form action="{{ path('daysoffsglobal_delete', { 'id': entity.id }) }}" method="post">
        <div class="btn-toolbar">
            <div class="btn-group">
                <a href="{{ path('daysoffsglobal') }}" class="btn" title="Retour à la liste">
                    <i class="icon-arrow-left"></i>
                </a>
                <i class="icon-white"></i>
                {{ form_widget(delete_form) }}
                <button type="submit" class="btn"><i class="icon-trash" title="Supprimer"></i></button>
            </div>
        </div>
    </form>
{% endblock %}