{% extends "FullSixProjectForecastBundle::layout.html.twig" %}

{% block title%}
    <title>Projects Forecast : Project {{ project.projectsname }}</title>
{% endblock %}

{% block bodyClass %}project-detail{% endblock %}

{% block content %}

    <div class="btn-toolbar">
        <div class="btn-group">
            <a href="{{ path('projects') }}" class="btn" title="Retour à la liste">
                <i class="icon-arrow-left"></i>
            </a>
            <i class="icon-white"></i>
            <form action="{{ path('projects_activation', { 'id': project.id }) }}" class="activation" method="post">
            {% if app.user is not null and is_granted('ROLE_ADMIN') and project.mergedWith == null %}
                {% if project.isTrashed == false %}
                    <button type="submit" class="btn"><i id="activate" class="icon-pause" title="{{ 'common.action.trash'|trans }}"></i></button>
                {% else %}
                    <button type="submit" class="btn"><i id="activate" class="icon-play" title="{{ 'common.action.activate'|trans }}"></i></button>
                {% endif %}
            {% endif %}
            </form>

            {% if app.user is not null and is_granted('ROLE_PM') %}
                <i class="icon-white"></i>
                <a href="{{ path('projects_logs', { 'id': project.id }) }}" class="btn btn-small">Logs</a>
            {% endif %}

            {% if app.user is not null and is_granted('ROLE_ADMIN') %}
                <i class="icon-white"></i>
                {% if project.mergedWith == null %}
                    <a href="{{ path('projects_merge_popup', {'id': project.id }) }}" class="btn btn-small merge-popup" title="">
                        {{ 'project.merge'|trans }}
                    </a>
                {% endif %}
            {% endif %}

        </div>
    </div>

    <div class="page-header fcast-projectDetail"><h1 data-action="{{ path('projects_edit_inplace') }}"><span id="Projects_customersidcustomers_{{ project.id }}" class="editable-field"><span>{{ project.customersidcustomers }}</span></span> - <span id="Projects_projectsname_{{ project.id }}" class="editable-field"><span>{{ project.projectsname }}</span></span></h1></div>

        <div class="row-fluid project-overview arrondi">
            {% if project.mergedWith != null %}
                <h3 style="color:#d44413" > {{ 'project.info.alreadyMearged'|trans }} "{{ project.mergedWith }}"</h3>
            {% endif %}
            <div data-action="{{ path('projects_edit_inplace') }}" class="project-info span4">
                {% render(controller('FullSixProjectForecastBundle:Projects:detailSlot', {'project_id': project.id })) %}
            </div>
            {% if project.mergedWith == null %}
            <div class="project-lead span4">
                <h3>{{ 'project.keyDates'|trans }}</h3>
                    <table class="table table-striped  table-hover records_list">
                        <tbody>
                            <tr>
                                <th>
                                    <a class="order" href="" title="">Date</a>
                                </th>
                                <th>
                                    <a class="order" href="" title="">Details</a>
                                </th>
                                {% if app.user is not null and is_granted('ROLE_PM') %}
                                    <th>
                                        <a class="order" href="" title="">Action</a>
                                    </th>
                                {% endif %}
                            </tr>
                            {% for keyDate in project.keyDates %}
                                <tr class="grid-row-cells even">
                                    <td class="">{{ keyDate.date|date('d-m-Y') }}</td>
                                    <td class="">{{ keyDate.details }}</td>
                                    {% if app.user is not null and is_granted('ROLE_PM') %}
                                        <td class="">
                                            <a href="{{ path('keydates_edit', { 'id': keyDate.id, 'projectId': project.id }) }}" class="edit-keydate-popup" target="_self" title="Editer">
                                                <i class="icon-edit"></i>
                                            </a>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                {% if app.user is not null and is_granted('ROLE_PM') %}
                    <a href="{{ path('keydates_new', { 'projectId': project.id }) }}" class="btn btn-primary add-keydate-popup" title="New">Add new element</a>
                {% endif %}
            </div>
            <div class="project-resources span4">
                <div class="row-fluid">
                    <h3>{{ 'worker.workers'|trans }}</h3>
                    <table class="table table-striped  table-hover records_list">
                        <tbody>
                            <tr>
                                <th>
                                    <a class="order" href="" title="">Lastname and Firstname</a>
                                </th>
                                <th>
                                    <a class="order" href="" title="">Role</a>
                                </th>
                            </tr>
                            {% for resourceProfile in resourceprofiles %}
                                <tr class="grid-row-cells even">
                                    <td class="">
                                        <a target="_blank" href="{{ path('workers_show', { 'id': resourceProfile.workerid.id }) }}">{{ resourceProfile.workerid.user }}</a>
                                    </td>
                                    <td class="">
                                        {% for key in resourceProfile.roles|keys %}
                                            {{ resourceProfile.roles[key] }} &nbsp;
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
          </div>
            {% endif %}
        </div>
        {% if project.projectscomments is not null %}
        <div class="row-fluid arrondi">
          <div class="project-comments span12">
            <h3>Project comments</h3>
            <p>{{ project.projectscomments }}</p>
          </div>
        </div>
        {% endif %}

{% if project.mergedWith == null %}
    <h2>
{#        <div style="float: right;margin-top: -5px; font-size: 14px;">Derniere mise à jour : <time datetime="{{ project.projectsupdated|date('Y-m-d H:i:s') }}" class="projectfirsttasktdate">{{ project.projectsupdated|date('d F Y', "Europe/Paris") }}</time>{% if myProject %} <a href="{{ path('projects_visited', { 'id': project.id }) }}" class="btn btn-small" style="margin-top: -5px;">no change</a>{% endif %}</div>#}
        Tasks
    </h2>

    <div class="fcast-view-title fcast-view-listtasks-title row-fluid">
        <div class="span1" style="width:10px"> </div>
        <div class="span2 table-head">
            <span class="" >Name</span>
        </div>
        <div class="span1 table-head">
            <span class="" >Start date</span>
        </div>
        <div class="span1 table-head">
            <span class="" >End date</span>
        </div>
    </div>

    {% for idx, task in project.projectstasks %}
    <div class="row-fluid task-wrap">
    {% include "FullSixProjectForecastBundle:Tasks:_item.html.twig" with {'task': task, 'cycle': cycle(['odd', 'even'], idx) } %}
        {% block asksloadsListHeader %}
        {% endblock %}
        {% block asksloadsList %}
            {% for idx, tasksload in task.taskstasksloads %}

                {% include "FullSixProjectForecastBundle:Tasksloads:_item.html.twig" with {'tasksload': tasksload, 'cycle': cycle(['odd', 'even'], idx) } %}

            {% endfor %}
        {% endblock %} {# asksloadsList #}
    </div>
    {% endfor %}

    {% if app.user is not null and is_granted('ROLE_PM') %}
        <div class="row-fluid areaAdd fcast-fieldsaddtask">
            {% render(controller('FullSixProjectForecastBundle:Tasks:newfromprojectresponsive', {'project_id': project.id })) %}
        </div>
    {% endif %}
{% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function(){
	     setTimeout(function() {
      		$(".merge-popup, .add-keydate-popup, .edit-keydate-popup").colorbox();
            }, 500);

        });
    </script>
{% endblock %}