{% extends "FullSixProjectForecastBundle::show.html.twig" %}

{% block title%}
    <title>Projects Forecast : Project {{ entity.projectsname }}</title>
{% endblock %}

{% block elementTitle %}
    Project "{{ entity.projectsname }}"
{% endblock %}

{% block deleteLink %}
    {{ path('projects_delete', { 'id': entity.id }) }}
{% endblock %}

{% block backLink %}
    {{ path('projects') }}
{% endblock %}

{% block formMenu %}
    <div class="btn-toolbar">
        <div class="btn-group">
            <a href="{{ path('projects_details', { 'id': entity.id }) }}" class="btn" title="{{ 'common.action.back'|trans }}">
                <i class="icon-arrow-left"></i>
            </a>
        </div>
    </div>
{% endblock %}

{% block elementDetails %}
    <dt>Id</dt><dd>{{ entity.id }}</dd>
    <dt>Projectsname</dt><dd>{{ entity.projectsname }}</dd>
    <dt>Projectscomments</dt><dd>{{ entity.projectscomments }}</dd>
    <dt>Projectsistrashed</dt><dd>{{ entity.istrashed }}</dd>
    <dt>Projectscreated</dt><dd>{{ entity.projectscreated|date('Y-m-d H:i:s') }}</dd>
    <dt>Projectsupdated</dt><dd>{{ entity.projectsupdated|date('Y-m-d H:i:s') }}</dd>
{% endblock %}

{% block otherDetails %}
    <h2>History</h2>
    {% block logs %}
        {% render(controller('FullSixProjectForecastBundle:Projects:logs', { 'id': entity.id }, {'standalone': 'js'})) %}
    {% endblock %}
{% endblock %}