<div class="span6 fcast-view-widget view-newprojects mansory-fluid-box">
    <h2>
       New projects
        <a class="fcast-widget-info-picto-action" title="Informations sur le widget" href="#"><img class="fcast-widget-info-picto" src="../../static/img/fcast-info-white.png" alt="info" /></a>
    </h2>
    <p class="fcast-widget-info">Quick view of the ongoing validation projects<span></span></p><!-- titres des données de cette vue -->
    <!--<p><a class="btn" href="#">View details &raquo;</a></p>-->
    <ul class="fcast-view-title fcast-view-newprojects-title row-fluid">
        <li class="fcast-view-title-item fcast-view-newprojects-title-item1 span4">
            <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-inverse dropdown-toggle">
                    <span class="fcast-view-deadline-title-item-project" >Project - Lot - Customer</span>
                    <span class="caret"></span>
                </button>
            </div>
        </li>
        <li class="fcast-view-title-item fcast-view-newprojects-title-item2 span2">
            <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-inverse dropdown-toggle">
                    <span class="fcast-view-deadline-title-item-project" >%</span>
                    <span class="caret"></span>
                </button>
            </div>
        </li>
        <li class="fcast-view-title-item fcast-view-newprojects-title-item3 span3">
            <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-inverse dropdown-toggle">
                    <span class="fcast-view-deadline-title-item-project" >Start</span>
                    <span class="caret"></span>
                </button>
            </div>
        </li>
        <li class="fcast-view-title-item fcast-view-newprojects-title-item4 span3">
            <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-inverse dropdown-toggle">
                    <span class="fcast-view-deadline-title-item-project" >Finish</span>
                    <span class="caret"></span>
                </button>
            </div>
        </li>
    </ul>
    <ul class="fcast-view-item fcast-view-newprojects-item row-fluid">
        <li class="fcast-view-newprojects-field1 span4">
            <span>Project 8 (Lot 3 )</span>
            <span class="fcast-txt-font-italic warning">Client 1</span>
        </li>
        <li class="fcast-view-newprojects-field2 span2">
            <span>80%</span>
        </li>
        <li class="fcast-view-newprojects-field3 span3">
            <span>04/03/2013</span>
        </li>
        <li class="fcast-view-newprojects-field4 span3">
            <span>15 /03/2013</span>
        </li>
    </ul>
    <ul class="fcast-view-item fcast-view-newprojects-item row-fluid">
        <li class="fcast-view-newprojects-field1 span4">
            <span>Project 8 (Lot 3 )</span>
            <span class="fcast-txt-font-italic warning">Client 1</span>
        </li>
        <li class="fcast-view-newprojects-field2 span2">
            <span>80%</span>
        </li>
        <li class="fcast-view-newprojects-field3 span3">
            <span>04/03/2013</span>
        </li>
        <li class="fcast-view-newprojects-field4 span3">
            <span>15 /03/2013</span>
        </li>
    </ul>
</div>