<div class="span6 fcast-view-widget view-workload mansory-fluid-box">
    <h2>
        Charge de travail
        <a class="fcast-widget-info-picto-action" title="Informations sur le widget" href="#"><img class="fcast-widget-info-picto" src="../../static/img/fcast-info-white.png" alt="info" /></a>
    </h2>
    <p class="fcast-widget-info">Charges de travail en jour/homme par projet / par client / par activité<span></span></p>
    <ul class="fcast-view-title fcast-view-workload-title row-fluid">
        <li class="fcast-view-title-item fcast-view-workload-title-item1 span6">
            <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-inverse dropdown-toggle">
                    <span class="fcast-view-deadline-title-item-project" >Projet - lot - client</span>
                    <span class="caret"></span>
                </button>
            </div>
        </li>
        <li class="fcast-view-title-item fcast-view-workload-title-item2 span2">
            <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-inverse dropdown-toggle">
                    <span class="fcast-view-deadline-title-item-project" >Front</span>
                    <span class="caret"></span>
                </button>
            </div>
        </li>
        <li class="fcast-view-title-item fcast-view-workload-title-item3 span2">
            <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-inverse dropdown-toggle">
                    <span class="fcast-view-deadline-title-item-project" >Back</span>
                    <span class="caret"></span>
                </button>
            </div>
        </li>
        <li class="fcast-view-title-item fcast-view-workload-title-item4 span2">
            <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-inverse dropdown-toggle">
                    <span class="fcast-view-deadline-title-item-project" >Cotech</span>
                    <span class="caret"></span>
                </button>
            </div>
        </li>
    </ul>
    <ul class="fcast-view-item fcast-view-workload-item row-fluid">
        <li class="fcast-view-workload-field1 span6">
            <span>Projet 9 (Lot 1 )</span>
            <span class="fcast-txt-font-italic warning">Client 1</span>
        </li>
        <li class="fcast-view-workload-field2  span2">
            <span>8</span>
        </li>
        <li class="fcast-view-workload-field3  span2">
            <span>5</span>
        </li>
        <li class="fcast-view-workload-field4  span2">
            <span>2</span>
        </li>
    </ul>
    <ul class="fcast-view-item fcast-view-workload-item row-fluid">
        <li class="fcast-view-workload-field1 span6">
            <span>Projet 9 (Lot 1 )</span>
            <span class="fcast-txt-font-italic warning">Client 1</span>
        </li>
        </li>
        <li class="fcast-view-workload-field2  span2">
            <span>8</span>
        </li>
        <li class="fcast-view-workload-field3  span2">
            <span>5</span>
        </li>
        <li class="fcast-view-workload-field4  span2">
            <span>2</span>
        </li>
    </ul>
</div>