{% block content %}
    <div class="container-fluid change-paswword-popup popup-content">
	 <br/>
        <div id="password_form_errors">
        </div>
        <form method="POST">
            {{ form_widget(form) }}
            {{ form_rest(form) }}
            <div class="button-container">
                <button type="submit" id="_submit" class="btn btn-primary save-period">Save</button>
                <button type="button" onclick="$('#cboxClose').click();" class="btn">Cancel</button>
            </div>
        </form>
    </div>
{% endblock %}
{% javascripts
    "@FullSixProjectForecastBundle/Resources/public/js/jquery.min.js"
    "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/jquery-ui.min.js"
    '@FullSixProjectForecastBundle/Resources/public/js/jquery.colorbox.js'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script>
    function closePopup() {
        $('#cboxClose').click();
    }
    $(document).ready(function() {
        $('form').on('submit', function(e){
            var href = this.action;

            e.preventDefault();
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "{{ path('users_change_password', { 'id': entity.id }) }}",
                data: $(this).serialize(),
                success: function(response) {
                    if (response['status'] == "OK") {
                        closePopup();
                    } else {
                        var html = $('#password_form_errors').html('');
                        $.each(response['messages'], function(key, msg) {
                            var html = $('#password_form_errors').html();
                            $('#password_form_errors').html(html + msg);
                        });
                    }
                },
            });

            return false;
        });
    });
</script>