{% extends "FullSixProjectForecastBundle:ProjectStatuses:new.html.twig" %}

{% block title%}
    <title>Projects Forecast :Edit project status</title>
{% endblock %}

{% block formTitle %}
    <h1>Edit project status "{{ entity.projectstatuseslabel }}"</h1>
{% endblock %}

{% block formParam %}
    action="{{ path('projectstatuses_update', { 'id': entity.id }) }}"
{% endblock %}

{% block formAction %}
    {{ parent() }}
    <li>
        <form action="{{ path('projectstatuses_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
{% endblock %}

{% block formMenu %}
    {% include 'FullSixProjectForecastBundle::_buttonsMenu.html.twig' with { 'entityName': 'projectstatuses', 'returnPage': 'edit' }%}
{% endblock %}