/*
----- Checkboxes
*/
.checkbox-container {
	float: left;
	width: 220px;
}

.checkbox-container label.control-label {
	text-align: left;
	float: left;
}

.checkbox-container input[type=checkbox] {
	float: left;
	clear: left;
	margin: 9px 10px 0 0px;
}

/*
----- Page show
*/
.page-show h2 {
	clear: both;
}

.page-show dt,
.page-show dd {
	float: left;
	margin-bottom: 10px;
}

.page-show dt {
	clear: left;
	width: 220px;
	text-align: right;
	margin-right: 20px;
}

.page-show dd {
	margin-left: 0px;
}

.records_list #row_dispo td {
 width: 300px;
}

.page-show ul {
	list-style: none;
}

.page-show.elementDetails {
	clear: both;
	float: left;
	width: 100%;
}

.logs th,
.logs td {
	padding: 5px 20px;
	text-align: left;
}

/*
----- Edit page
*/
.edit-form.form-horizontal fieldset > div,
.edit-form.form-horizontal > div,
.user-info .left-block > div,
.user-info .social-info-content > div,
.user-account > div,
.contract-info > div,
.new-period .formPeriods > div {
	float: left;
	width: 100%;
	margin-bottom: 10px;
	clear: both;
}

.edit-form.form-horizontal > div.form-actions {
	box-sizing: border-box;
}

.edit-form.form-horizontal label.control-label  {
	margin-right: 10px;
}

.edit-form.form-horizontal > div input[type=checkbox] {
	margin-top: 8px;
}

.user-info {
	float: left;
	width: 100%;
}

.user-info h2 {
	border: 0;
}

.user-info .right-block h2 {
	margin-top: 0;
}

.user-info .right-block .btn {
	margin: 10px 0 0 170px;
}

.user-info .left-block {
	float: left;
	width: 50%;
}

.user-info .right-block {
	float: right;
	width: 50%;
}

.social-info {
	clear: both;
}

.social-info h2 {
	cursor: pointer;
}

.social-info h2 span {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 16px;
	background: url('../img/arrow-right.png') 0 0 no-repeat;
}

.social-info h2.opened span {
	background: url('../img/arrow-down.png') 0 0 no-repeat;
}

.social-info-content {
	display: none;
}

.mansory-fluid-box {
	float: none;
}

.clear {
	clear: both;
}

.periods {
	list-style: none;
	margin-left: 0;
}

.formPeriods .btn {
	margin-bottom: 20px;
}

/*
----- Popups
*/
.popup-content {
	padding: 30px 40px;
	background: #f5f5f5;
}

.popup-content form > div {
	padding-bottom: 5px;
	clear: both;
}

.form-block {
	padding: 0 0 20px;
	float: left;
	width: 100%;
}

.merge-popup .form-block {
	width: 650px;
}

.popup-content .form-block h3 {
	margin-bottom: 20px;
}

.form-block .left {
	width: 350px;
	float: left;
}

.form-block .right {
	width: 280px;
	float: right;
}

.form-row {
	clear: both;
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

.select-container {
	margin-bottom: 20px;
}

.select-container select {
	margin-left: 0;
}

.form-row dd,
.form-row dt {
	float: left;
}

.form-row dt {
	min-width: 50px;
	margin-right: 10px;
}

.form-row dd {
	margin-left: 0px;
}

.button-container {
	margin: 20px 0 0;
	text-align: center;
	float: left;
	width: 100%;
}

.button-container .btn {
	margin: 0 5px;
}

.popup-content .control-label {
	display: block;
	float: left;
	width: 160px;
	margin-right: 10px;
	text-align: right;
}

.popup-content input[type=radio],
.popup-content input[type=checkbox]{
	float: left;
	margin: 4px 10px 0 0;
	width: auto;
}

.add-worker label.control-label {
	width: 200px;
}

.vacations-form input[type=checkbox] {
	float: left;
	margin: 3px 10px 0 0;
}

#cboxTitle {
	display: none!important;
}

/**/

.underline{
    border-bottom: 2px solid;
}




