/*
----- Popups
*/
.popup-content {
	padding: 30px 40px;
	background: #f5f5f5;
}

.popup-content form > div {
	padding-bottom: 5px;
	clear: both;
}

.form-block {
	padding: 0 0 20px;
	float: left;
	width: 100%;
}

.merge-popup .form-block {
	width: 650px;
}

.popup-content .form-block h3 {
	margin-bottom: 20px;
}

.form-block .left {
	width: 350px;
	float: left;
}

.form-block .right {
	width: 280px;
	float: right;
}

.form-row {
	clear: both;
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

.select-container {
	margin-bottom: 20px;
}

.select-container select {
	margin-left: 0;
}

.form-row dd,
.form-row dt {
	float: left;
}

.form-row dt {
	min-width: 50px;
	margin-right: 10px;
}

.form-row dd {
	margin-left: 0px;
}

.button-container {
	margin: 20px 0 0;
	text-align: center;
	float: left;
	width: 100%;
}

.button-container .btn {
	margin: 0 5px;
}

.popup-content .control-label {
	display: block;
	float: left;
	width: 160px;
	margin-right: 10px;
	text-align: right;
}

.popup-content input[type=radio],
.popup-content input[type=checkbox]{
	float: left;
	margin: 4px 10px 0 0;
	width: auto;
}

.add-worker label.control-label {
	width: 200px;
}

.vacations-form input[type=checkbox] {
	float: left;
	margin: 3px 10px 0 0;
}

#cboxTitle {
	display: none!important;
}
