{% extends "FullSixProjectForecastBundle::layout.html.twig" %}

{% block title%}
    <title>Mon compte - changer de mot de passe</title>
{% endblock %}

{% block content %}
    <h1>Mon compte - changer de mot de passe </h1>
    {% block formAction %}
    {{ parent() }}
    <div class="row-fluid ">
{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
</div>
{% endblock formAction %}
{% endblock %}
