{% extends "FullSixProjectForecastBundle::form.html.twig" %}

{% block title%}
    <title>Projects Forecast : Création d'un lot</title>
{% endblock %}

{% block formTitle %}
    <h1>Création d'un client</h1>
{% endblock %}

{% block formParam %}
    action="{{ path('lots_create') }}"
{% endblock %}

{% block backLink %}
    href="{{ path('lots') }}"
{% endblock %}
