<div class="grid">
    {% if grid.totalCount > 0 or grid.isFiltered or grid.noDataMessage is sameas(false) %}
        <form id="{{ grid.hash }}" action="{{ grid.routeUrl }}" method="post">
            <div class="grid_header">
                {% if grid.massActions|length > 0 %}
                    {{ grid_actions(grid) }}
                {% endif %}
            </div>
            <div class="grid_body">
                <table class="table table-striped  table-hover records_list">
                    {% if grid.isTitleSectionVisible %}
                        {{ grid_titles(grid) }}
                    {% endif %}

                    {% if grid.isFilterSectionVisible %}
                        {{ grid_filters(grid) }}
                    {% endif %}

                    {{ grid_rows(grid) }}
                </table>
            </div>
            <div class="grid_footer">
                {% if grid.isPagerSectionVisible %}
                    {{ grid_pager(grid) }}
                {% endif %}
                {% if grid.exports|length > 0 %}
                    {{ grid_exports(grid) }}
                {% endif %}
            </div>
            {% if withjs is defined %}
                {{ grid_scripts(grid) }}
            {% endif %}
            </form>
    {% else %}
        {{ grid_no_data(grid) }}
    {% endif %}
</div>