{% extends "FullSixProjectForecastBundle:Contracts:new.html.twig" %}

{% block title%}
    <title>Projects Forecast : Edition d'un contrat</title>
{% endblock %}

{% block formTitle %}
    <h1>{{ 'worker.contract.edit'|trans }}</h1>
{% endblock %}

{% block content %}
    {% block formMenu %}
        <div class="btn-toolbar">
            <div class="btn-group">
                <a href="{{ path('workers_edit', {'id': entity.idworker.id} ) }}" class="btn" title="Retour à la liste">
                    <i class="icon-arrow-left"></i>
                </a>
                <i class="icon-white"></i>
                {% if entity.isTrashed == false %}
                    <a href="{{ path('contracts_activation', { 'id': entity.id, 'page': 'edit' }) }}" class="btn"><i class="icon-pause" title="{{ 'common.action.trash'|trans }}"></i></a>
                {% else %}
                    <a href="{{ path('contracts_activation', { 'id': entity.id, 'page': 'edit' }) }}" class="btn"><i class="icon-play" title="{{ 'common.action.activate'|trans }}"></i></a>
                {% endif %}
            </div>
        </div>
    {% endblock %}
    {% block form %}
        <form action="{{ path('contracts_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }} class="form-horizontal edit-form">
            <fieldset name="Information worker">
                    <h2>{{  'worker.worker_info'|trans }}</h2>
                    {{ form_row(form.workerfirstname) }}
                    {{ form_row(form.workerlastname) }}
            </fieldset>
            <fieldset name="Information contrat">
                <h2>Information contrat</h2>
                {{ form_row(form.contracttype) }}
                {{ form_row(form.employer) }}
                {{ form_row(form.idjob) }}
                {{ form_row(form.bdc) }}
                {{ form_row(form.comment) }}
            </fieldset>
            {{ form_rest(form) }}
            {{ formActions() }}
        </form>
    {% endblock %}
    <h3>{{ 'worker.contract.period.title'|trans }}</h3>
    <a href="{{ path('periods_new', {'id': entity.id}) }}" class="btn btn-primary period-popup">{{ 'common.action.create' |trans }}</a>
    <div class="grid">
        {% if grid.totalCount > 0 or grid.isFiltered or grid.noDataMessage is sameas(false) %}
            <form id="{{ grid.hash }}" action="{{ grid.routeUrl }}" method="post">
                <div class="grid_header">
                {% if grid.massActions|length > 0 %}
                    {{ grid_actions(grid) }}
                {% endif %}
                </div>
                <div class="grid_body">
                <table class="table table-striped  table-hover records_list">
                {% if grid.isTitleSectionVisible %}
                    {{ grid_titles(grid) }}
                {% endif %}

                {% if grid.isFilterSectionVisible %}
                    {{ grid_filters(grid) }}
                {% endif %}

                {{ grid_rows(grid) }}
                </table>
                </div>
                <div class="grid_footer">
                {% if grid.isPagerSectionVisible %}
                    {{ grid_pager(grid) }}
                {% endif %}
                {% if grid.exports|length > 0 %}
                    {{ grid_exports(grid) }}
                {% endif %}
                </div>
                {% if withjs is defined %}
                    {{ grid_scripts(grid) }}
                {% endif %}
            </form>
        {% else %}
            {{ grid_no_data(grid) }}
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            $(".period-popup").colorbox();
        });
    </script>
{% endblock %}