{% extends "FullSixProjectForecastBundle:Agencies:new.html.twig" %}

{% block title%}
    <title>Projects Forecast : Edition d'une agence</title>
{% endblock %}

{% block formTitle %}
    <h1>{{ 'admin.agency.edit'|trans }} "{{ entity.agenciesname }}"</h1>
{% endblock %}

{% block formParam %}
     action="{{ path('agencies_update', { 'id': entity.id }) }}"
{% endblock %}

{% block formAction %}
    {{ parent() }}
    <li>
        <form action="{{ path('agencies_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
{% endblock %}

{% block formMenu %}
    {% include 'FullSixProjectForecastBundle::_buttonsMenu.html.twig' with { 'entityName': 'agencies', 'returnPage': 'edit' }%}
{% endblock %}