{% extends "FullSixProjectForecastBundle::layout.html.twig" %}

{% block content %}
<div class="hero-unit">
    <h1>Reporting</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
</div>
<div class="row-fluid">
    <div class="span4">
        <h2>Workload</h2>
        <p></p>
        <p><a class="btn" href="{{ path('projects_inprogress') }}">Search &raquo;</a></p>
    </div><!--/span-->
    <div class="span4">
        <h2>Plan de charge</h2>
        <p></p>
        <p><a class="btn" href="{{ path('workload') }}">Search &raquo;</a></p>
    </div><!--/span-->
</div><!--/row-->
{% endblock %}