<h1>Roles creation</h1>

<form action="{{ path('administration_roles_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('administration_roles') }}">
            Back to the list
        </a>
    </li>
</ul>
{% block backLink %}
    {{ path('administration_roles') }}
{% endblock %}