{% block content %}
    <div class="container-fluid popup-content add-worker">
        <form class="form-horizontal" method="post" action="{{ path('add_worker', { 'id': customer.id }) }}">
            <label class="control-label">{{'client.selectWorker'|trans}}</label>
            <select name="worker">
                {% for worker in workers %}
                    <option value="{{ worker.id }}">{{ worker.user.usersfirstname }} {{worker.user.userslastname}}</option>
                {% endfor %}
            </select>
            <div class="button-container">
                <button type="submit" id="_submit" class="btn btn-primary save-period">Save</button>
                {# type="button" : prevents from submiting the form #}
                <button type="button" onclick="$('#cboxClose').click();" class="btn">Cancel</button>
            </div>
        </form>
    </div>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/fullsixprojectforecast/css/popup.css') }}" type="text/css">
{% endblock %}