{% extends "FullSixProjectForecastBundle::form.html.twig" %}

{% block title%}
    <title>Projects Forecast : Création d'un métier</title>
{% endblock %}

{% block formTitle %}
    <h1>Création d'un métier</h1>
{% endblock %}

{% block formParam %}
    action="{{ path('jobs_create') }}"
{% endblock %}

{% block backLink %}
    {{ path('jobs') }}
{% endblock %}
