{% extends "FullSixProjectForecastBundle::form.html.twig" %}

{% block title%}
    <title>Mon compte</title>
{% endblock %}

{% block formTitle %}
    <h1>{{ 'user.account.changePassword'|trans }}</h1>
{% endblock %}

{% block formMenu %}
    <div class="btn-toolbar">
        <a href="{{ path('users_account') }}" class="btn" title="Retour à mon compte">
            <i class="icon-arrow-left"></i>
        </a>
    </div>
{% endblock %}




