{% block content %}
    <div class="container-fluid popup-content merge-popup">
        <div id="merge_form_errors">
        </div>
        <form method="post" class="form-horizontal">
            <div class="form-block">
                <div class="left">
                    <h3>{{ 'user.currentUser'|trans }}</h3>
                    <div class="form-row">
                        <dt>User:</dt><dd>{{ entity.completeName }}</dd>
                    </div>
                </div>
                <div class="right">
                    <div class="form-row select-container">
                        <h3>{{ 'user.anotherUser'|trans }}</h3>
                        <select name="user">
                            {% for user in users %}
                                <option value="{{ user.id }}">{{ user.completeName }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-row">
                        <input type="radio" name="merge" value="source" checked>Source<br>
                        <input type="radio" name="merge" value="destination">Destination<br>
                    </div>
                </div>
            </div>
            <div class="button-container">
                <button type="submit"  class="btn btn-primary">{{ 'user.merge'|trans }}</button>
                <button type="button" onclick="$('#cboxClose').click();" class="btn">Cancel</button>
            </div>
            </form>
        </div>
    </div>
{% endblock %}
{% javascripts
    "@FullSixProjectForecastBundle/Resources/public/js/jquery.min.js"
    "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/jquery-ui.min.js"
    '@FullSixProjectForecastBundle/Resources/public/js/jquery.colorbox.js'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script>
    function closePopup() {
        $('#cboxClose').click();
    }
    $(document).ready(function() {
        $('form').on('submit', function(e){
            var href = this.action;

            e.preventDefault();
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "{{ path('users_merge', {'id': entity.id}) }}",
                data: $(this).serialize(),
                success: function(response) {
                    if (response['status'] == "OK") {
                        closePopup();
                        window.location= "{{ path('users') }}";
                    } else {
                        var html = $('#merge_form_errors').html('');
                        $.each(response['messages'], function(key, msg) {
                            var html = $('#merge_form_errors').html();
                            $('#merge_form_errors').html(html + msg);
                        });
                    }
                },
            });

            return false;
        });
    });
</script>